main{
    display: flex;
    align-self: center;
    width: 80%;
    margin: 5% 5% 10% 10%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(244, 179, 0, 0.608);
    border-radius: 10%;
    flex-direction: column;
}
h1 {
    font-size: 48px;
  }
  
h2{
    font-size: 35px;
    text-align: center;
}
.hola{
    display: flex;
    flex-direction: row;
}

p{
    font-size: 30px;
    width: 40%;
    margin: 10%;
}

.hola div{
    width: 40%;
}
img{
    border-radius: 10%;
}
.adios{   
    display: flex;

}
.adios div{
    display: flex;
    flex-direction: row;
    margin: 5%;
}
.adios img{
    width: 100%;
}